/* reset css */

:root {
  --color-primary: #faf9f9;
  --color-primary-hover: #dbdbdb;
  --color-button: #55d370;
  --color-button-hover: #3fa856;
  --color-text-white: #fff;
  --color-text-white-dull: #b6b6b6;
  --color-text-black: #121212;
}

*, *::after::before {
  box-sizing: border-box;
}

*{
  margin: 0;
}

body{
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
  background-color: var(--color-primary);
  color: var(--color-text-white);
  overflow-x: hidden;
  font-smooth: antialiased;

}